
{%load static%}
{% include "dsl/header.html"%}
<div class="section1">
	<div class="container">
		 <div class="heading-title" style="margin-top: 4%;
  margin-bottom: 2%;
  font-size: 30px;">ABOUT US</div>
		<p class="para">
	Dar Shuttle Ltd is a newly formed local private company intending to become
the largest single provider of bus transport service to the people of Dar es
Salaam city with modern fleet. The company does not yet started operating
since it was established in 2016. And the head quarter is based in the city of
Dar es Salaam and later other regional of centers in Tanzania.
</p>

<p><h4>Our Mission</h4></p>

<p><h4>Our Vision</h4></p>

<p><h4>Our Commitment</h4></p>
<p>
To be the best and safest that we can be with God’s guidance.
Dar Shuttle Ltd a newly established company with interest to venture into
Urban passenger bus transport service in Tanzania. The company is desirous to
Provide the most reliable and comfortable passenger transport service in Dar
es Salaam.
Dar Shuttle Ltd does not have affiliated to any other company operating in any
Sector of the economy
</p>
		<div class="row">
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src="{% static 'img/download.jpg'%}">
          <p><h4>Reliable public commuter transport bus services in city of dar es salaam</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src="{% static 'img/DSL1.jpg '%}" style="width: 100%">
            <p><h4>Reliable private hire transport bus services in city of dar es salaam</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src=" {% static 'img/download.jpg '%}">
           <p><h4>Quality bus spare parts in Tazania as agents</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>


		</div>

	</div>
</div>

<div class="section2">
	<div class="container">
		<div class="sub">
      <h4><p>Our Profile</p></h4>

- To continual being the number one in urban passenger bus transport with
efficiency and kind in transport solution.<br>
- To have success which is built an a foundation of quality services and
lasting relationship with our customers.<br>
- To be one of the service provider in BRT system in Tanzania.<p></p>

<p>Dar Shuttle Ltd will represent quality to our customers and ourselves. We will
Provide to our customers transportation service that meet all mutually.</p>
<p>- Established requirements in a safe manner every time we will provide a
pornteal and reliable service for customers, suppliers and fellow
employees.</p>
<p>- We will ------------ “Do it right the first time and all times” we will.</p>
• Do our jobs right the first the first time.<br>
• Known our customer’s needs and expectations.<br>
• Hire above average customer- oriented employees.<br>
• Perform our job in a safe environment.<br>
• Be leaders of modern techniques and technology in our industry.<br>
• Take pride in our work and in the image of our Company.<br>
• In all endeavors act with integrity.<br>
• Be profitable<p></p>


		
	</div>
	</div>
</div>
        <!-- Footer -->
        {% include "dsl/footer.html"%}
</div>




</body>
</html>
















