 <footer class="page-footer font-small blue pt-4">

          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                 <h5 class="text-uppercase">contact information</h5>
               
                <p>
                   <ul class="contact-info"><h5>
            <li>P.o.Box 12185 dar es salaam</li><br>
            <li><i class="icon-location4"></i>2floor city mallBuilding</li><br>
            <li>Plot No:2451 Block postal code 9</li><br>
            <li><i class="icon-phone3"></i>+ 255 753 151489</li><br>
            <li><i class="icon-location3"></i><a>info@dashuttle.co.tz</a></li><br>
            <li><i class="icon-globe2"></i><a>www.dashuttle.co.tz</a></li></h5>
          </ul>
                </p>

              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none pb-3">

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Imporntant sites</h5>

                <ul class="list-unstyled">
                  <li>
                    <a href="#!"> DSL</a>
                  </li>
                  <li>
                    <a href="#!">DSL</a>
                  </li>
                  <li>
                    <a href="#!">DSL</a>
                  </li>
                  <li>
                    <a href="#!">DSL</a>
                  </li>
                </ul>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Social media Links</h5>

                <ul class="list-unstyled">
                 <li><a href="#" class="icoTwitter"><i class="fa fa-twitter"></i>..Twitter</a></li>
                 <li><a href="#" class="icoInstagram"><i class="fa fa-instagram"></i>..Instagram</a></li>
                 
                  <li><a href="#" class="icoFacebook"><i class="fa fa-facebook"></i>..Facebook</a></li>
                  <li><a href="#" class="icoYoutube"><i class="fa fa-youtube"></i>..Youtube</a></li>
                </ul>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> www.darshattle.co.tz</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->