{% load static %}
{% include "dsl/header.html "%}
<div id="main" >
	<div class="container" class="text-center" id="slider" style="margin-top: 2px;">
		<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="{% static 'img/DSL5.jpg'%}" alt="Los Angeles" style="height: 400px;"></center>
      <div class="carousel-caption">
        <h3>Modern public bus transport</h3>
        <p>The best Trasport ever in dar es salaam!</p>
      </div>   
    </div>
      <div class="carousel-item">
      <center><img src="{% static 'img/neaty-01.jpg '%}" alt="New York"  style="height: 400px;"></center>
      <div class="carousel-caption">
        <h3>Modern transport in Dar</h3>
        <p>Good sevice,</p>
      </div>   
    </div>
    <div class="carousel-item">
      <center><img src="{% static 'img/DSL3.jpg '%}" alt="Chicago "  style="height: 400px;"></center>
      <div class="carousel-caption">
        <h3>Dar city center bus</h3>
        <p>Best sevice</p>
      </div>   
    </div>
    <div class="carousel-item">
      <center><img src="{% static 'img/DSL2.jpg '%}" alt="New York"  style="height: 400px;"></center>
      <div class="carousel-caption">
        <h3>Faster and cheap transport</h3>
        <p>gongo la mboto to makumbusho</p>
      </div>   
    </div>
    
      <div class="carousel-item">
      <center><img src="{% static 'img/neaty-01.png '%}" alt="New York"  style="height: 400px;"></center>
      <div class="carousel-caption">
        <h3>The best Transport service in Dar</h3>
        <p>Mbezi to Mbagala</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>

<div class="section1">
	<div class="container">
		<h3 class="heading-title">DAR SHATTLE LTD</h3>
		<p class="para">
		Dar Shuttle Ltd is a newly formed local private company intending to become
the largest single provider of bus transport service to the people of Dar es
Salaam city with modern fleet. The company does not yet started operating
since it was established in 2016. And the head quarter is based in the city of
Dar es Salaam and later other regional of centers in Tanzania.
<br>The Company’s principal activities’ is providing services such as urban
passenger bus service in city of Dar es Salaam, and Private hire by special
request.
		</p>
		<div class="row">
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src=" {% static 'img/download.jpg '%}">
          <p><h4>Reliable public commuter transport bus services in city of dar es salaam</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src=" {% static 'img/DSL1.jpg '%}" style="width: 100%">
            <p><h4>Reliable private hire transport bus services in city of dar es salaam</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cars card shadow">
					<img src="{% static 'img/download.jpg '%}">
           <p><h4>Quality bus spare parts in Tazania as agents</h4></p>
					<p class="para1">
			orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
				</div>
			</div>


		</div>

	</div>
</div>

<div class="section2">
	<div class="container-fluid p-0">
		<div class="sub">
		
	</div>
	</div>
</div>


{% include "dsl/footer.html"%}
        <!-- Footer -->
       
</div>




</body>
</html>